<div class="container mt-4">
  <h2>Movimientos bancarios</h2>
  <div class="mb-3">
    <label for="csvInput" class="form-label">Seleccione su archivo CSV</label>
    <input
      type="file"
      accept=".csv"
      class="form-control"
      id="csvInput"
      (change)="onFileSelected($event)"
    />
  </div>
  <div class="d-inline">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!selectedFile"
      (click)="onSubmit()"
    >
      Procesar
    </button>
    <button type="button" class="btn btn-primary ms-2" (click)="onReset()">
      Resetear
    </button>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <table
        *ngIf="movimientosData && movimientosData.length > 0"
        class="table"
      >
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Moneda</th>
            <th>Monto</th>
            <th>Código Único</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movimiento of movimientosData; let i = index">
            <td>{{ movimiento.fecha }}</td>
            <td>{{ movimiento.descripcion }}</td>
            <td *ngIf="movimiento.moneda !== 'USD'">{{ movimiento.moneda }}</td>
            <td *ngIf="movimiento.moneda !== 'USD'">{{ movimiento.monto }}</td>
            <td *ngIf="movimiento.moneda === 'USD'">
              {{ movimiento.moneda_cambio }}
            </td>
            <td *ngIf="movimiento.moneda === 'USD'">
              {{ movimiento.valor_cambio }}
            </td>
            <td>{{ movimiento.codigo_unico }}</td>
            <td>
              <button
                [disabled]="movimiento.moneda === 'PEN'"
                type="button"
                class="btn btn-warning btn-sm"
                (click)="showAlert(movimiento)"
              >
                <i class="fa-solid fa-dollar-sign"></i>
              </button>
              <button
                type="button"
                class="btn btn-primary btn-sm ms-2"
                (click)="startEditing(i)"
              >
                <i class="fa fa-pencil"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm ms-2"
                (click)="deleteMovimiento(movimiento)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <!-- Agrega el formulario de edición -->
          <tr *ngIf="editingIndex !== null">
            <td colspan="6">
              <form class="form-inline">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="editedDescripcion">Descripción:</label>
                    <input
                      type="text"
                      class="form-control w-100"
                      id="editedDescripcion"
                      name="editedDescripcion"
                      [(ngModel)]="editedDescripcion"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="editedMonto">Monto:</label>
                    <input
                      type="number"
                      class="form-control w-100"
                      id="editedMonto"
                      name="editedMonto"
                      [(ngModel)]="editedMonto"
                      [ngModelOptions]="{ standalone: true }"
                      step="0.01"
                    />
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-primary btn-sm ms-2 mt-2"
                  (click)="saveChanges()"
                >
                  Guardar
                </button>
                <button
                  type="button"
                  class="btn btn-secondary btn-sm ms-2 mt-2"
                  (click)="cancelEditing()"
                >
                  Cancelar
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
